body {
    width: 100%;
    margin: 0;
}

.posted-articles {
    width: 750px;
    height: auto;
    display: block;
    margin: 2.5% 12.5% 0% 16.5%;
    padding : 2% 10.5% 2% 2%;
    background-color: #ffffff;
    word-break : break-all;
}

.posted-articles .posted-articles-header {
    padding-left: 80px;
}

.posted-articles .article {
    padding-top: 2.5%;
}

.posted-articles .pagination {
    padding-left: 43.5%;
}
