ul li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.user-profile-entire {
    width: 100%;
    display: flex;
}

.main-contents .user-profile {
    margin-top: 20px;
}
