ul li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

.user-profile-entire {
    width: 100%;
}

li.relation {
    padding-right: 1%;
    float: left;
}

.followees {
    width: 100%;
    margin : 1%;
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
}

.followee {
    width: 25%;
    height: 200px;
    margin: 2%;
    padding: 1%;
    border : 0.5px solid #ffffff ;
    border-radius: 1em;
    background-color: #ffffff;
}

.followee:hover {
    background-color: #dddddd;
}

.followee li {
    padding-bottom: 1.5%;
}

.followee li.relation {
    padding-right: 5%;
}

.pagination {
    margin-left: 25%;
}

.followee-profile {
    word-break : break-all;
}
