html {
    height: 100%;
 }

body {
    height: 100%;
    margin: 0;
}

.profile-links {
    width: 250px;
    height: 1000px;
    padding-top: 5%;
    background-color: #ffffff;
}

.profile-links ul li {
    padding-top: 12.5%;
}
