ul li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.settings-entire {
    width: 100%;
    display: flex;
}

.posted-articles {
    width: 60%;
    height: 100%;
    display: block;
    margin : 0% 7.5% 0% 8%;
    padding : 6.5% 2% 2% 2%;
    border : 0.5px solid #ffffff ;
    background-color: #ffffff;
}

.posted-articles .article {
    padding-top: 2.5%;
}

.posted-articles .pagination {
    padding-left: 50%;
}

.article-title {
    word-break : break-all;
}
