html {
   height: 100%;
}

body {
    height: 100%;
    margin: 0;
}  

.settings-entire {
    height: 100%;
    margin: 0;
    display: flex;
}

.settings-links {
    width: 250px;
    height: 100%;
    padding-top: 5%;
    background-color: #ffffff;
}

.settings-links ul li {
    padding-top: 12.5%;
}
