ul li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.settings-entire {
    width: 100%;
    display: flex;
}

.update-form {
    width: 60%;
    height: auto;
    background-color: #ffffff;
    margin-left: 10%;
    padding: 2.5% 5% 2.5% 5%;
}

.update-form .each-form-header {
    color: white;
    background-color: skyblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group label {
    margin-top: 7px;
    margin-right: 10px;
    float: left;
}

.form-group .errorlist li {
    margin-left: -11.5%;
}

#id_tags li {
    float: left;
}

#update-button {
    margin-top: 90%;
    margin-left: 85%;
}