ul li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.personalinfo-form {
    width: 33%;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding : 2%;
    border : 0.5px solid #cccccc ;
    border-radius: 1em;
    background-color: #ffffff;
}

.personalinfo-form .update-username-header {
    background:skyblue;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1% 5% 1% 5%;
    margin-bottom: 2.5%;
}

.form-group label {
    margin-top: 7px;
    margin-right: 10px;
    width: 200px;
    float: left;
}

.form-group .errorlist li {
    margin-left: -11.5%;
}

#id_tags li {
    margin-left: 175px;
}

#post-button {
    margin-top: 90%;
    margin-left: 85%;
}