<div class="settings-links">
    <ul>
        <li><a href="{% url 'settings:username' %}">ユーザ名</a></li>
        <li><a href="{% url 'settings:email' %}">メールアドレス</a></li>
        <li><a href="{% url 'settings:password' %}">パスワード</a></li>
        <li><a href="">プロフィール</a></li>
        <li><a href="{% url 'settings:followees' %}">フォロー</a></li>
        <li><a href="{% url 'settings:followers' %}">フォロワー</a></li>
        <li><a href="">新規記事の投稿</a></li>
        <li><a href="">記事の編集</a></li>
    </ul>
</div>
