{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'settings/links.css' %}">
<link rel="stylesheet" href="{% static 'settings/password.css' %}">
{% endblock %}

{% block content %}
    <div class="settings-entire">
        {% include 'settings/links.html' %}

        <div class="password-change-form">
            <div class="update-password-header">
                パスワード変更
            </div>

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        ⚠️{{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.old_password.errors %}
                <div class="alert alert-danger">
                    {% for error in form.old_password.errors %}
                        ⚠️{{ error }}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.new_password1.errors %}
                <div class="alert alert-danger">
                    {% for error in form.new_password1.errors %}
                        ⚠️{{ error }}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.new_password2.errors %}
                <div class="alert alert-danger">
                    {% for error in form.new_password2.errors %}
                        ⚠️{{ error }}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        {{ form.old_password }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        {{ form.new_password2 }}
                    </div>
                </div>

                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="変更"/>
            </form>
        </div>
    </div>
{% endblock %}