<div class="user-profile">
    <div class="user-profile1">
        <ul>
            <li><img src="/media/{{ user.icon }}" style="border-radius: 50px; width: 50px; height: 50px;"></li>
            <li><b>ユーザ名:</b> {{ user.username }}</li>
            <li><b>プロフィール:</b> <br>{{ user.profile_message|slice:":30" }}</li>
            <li class="relation"><a href="{% url 'users:followees' user.username %}"><b>フォロー</b></a> <br> {{ user.followees.all|length }} </li>
            <li class="relation"><b>フォワロー</b> <br> {{ user.followers.all|length }} </li>
        </ul>    
    </div>

    <div class="user-profile2">
        <ul>
            <li><a href="{% url 'users:articles' user.username %}">投稿記事一覧</a></li>
            <li><a href="{% url 'users:favorites' user.username %}">お気に入り記事一覧</a></li>
        </ul>
    </div>
</div>
