{% extends 'base/base.html' %}
{% load static %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'authenticate/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-form">
        <div class="login-header">
            Login
        </div>

        {% if user.is_authenticated %}
            <div class="alert alert-danger">
                ⚠️あなたは{{ user.username }}としてログインしています。
            </div>
        {% endif %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    ⚠️{{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% if form.username.errors %}
            <div class="alert alert-danger">
                {% for error in form.username.errors %}
                    ⚠️{{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {%if form.password.errors %}
            <div class="alert alert-danger">
                {% for error in form.password.errors %}
                    ⚠️{{ error }}
                {% endfor %}
            </div>
        {%endif%}

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    {{ form.username }}
                </div>

                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    {{ form.password }}
                </div>
            </div>
            <div class="form-row text-center">
                <div class="col-12">
                   <input class="btn btn-primary" type="submit" value="ログイン"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}