li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.search-form {
    margin-top: 2.5%;
    padding-left: 7.0%;
}

.search-form li {
    padding-right: 5px;
    float: left;
}

.article {
    margin: 1.25% 10% 2.5% 7.0%;
    padding: 1.25% 0% 1.25% 0%;
    border-radius: 10px;
    background-color: white;
}

.article li {
    padding-top: 2.5px;
    margin-left: 15px;
}

.article .article-title {
    word-break: break-all;
}

.pagination {
    margin-left: 42.5%;
}